---
import astro from "../assets/icons/astro.svg";
import css from "../assets/icons/css.svg";
import docker from "../assets/icons/docker.svg";
import express from "../assets/icons/express.svg";
import git from "../assets/icons/git.svg";
import github from "../assets/icons/github.svg";
import html from "../assets/icons/html.svg";
import illustrator from "../assets/icons/illustrator.svg";
import java from "../assets/icons/java.svg";
import javascript from "../assets/icons/javascript.svg";
import mongodb from "../assets/icons/mongodb.svg";
import nodejs from "../assets/icons/nodejs.svg";
import npm from "../assets/icons/npm.svg";
import react from "../assets/icons/react.svg";
import sass from "../assets/icons/sass.svg";
import tailwindcss from "../assets/icons/tailwindcss.svg";
---

<li>
  <img src={astro.src} alt="" />
</li>
<li>
  <img src={css.src} alt="" />
</li>
<li>
  <img src={docker.src} alt="" />
</li>
<li>
  <img src={express.src} alt="" />
</li>
<li>
  <img src={git.src} alt="" />
</li>
<li>
  <img src={github.src} alt="" />
</li>
<li>
  <img src={html.src} alt="" />
</li>
<li>
  <img src={illustrator.src} alt="" />
</li>
<li>
  <img src={java.src} alt="" />
</li>
<li>
  <img src={javascript.src} alt="" />
</li>
<li>
  <img src={mongodb.src} alt="" />
</li>
<li>
  <img src={nodejs.src} alt="" />
</li>
<li>
  <img src={npm.src} alt="" />
</li>
<li>
  <img src={react.src} alt="" />
</li>
<li>
  <img src={sass.src} alt="" />
</li>
<li>
  <img src={tailwindcss.src} alt="" />
</li>
