.project__article {
    animation: listOfProjects linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 35%;

}


.service {
    opacity: 1;
    animation: services linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 20%
}

.service__two {
    opacity: 1;
    animation: servicestwo linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 20%
}

.first__section {
    animation: servicestwo linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%
}

.second__section {
    animation: services linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 35%
}


@keyframes listOfProjects {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes services {

    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes servicestwo {

    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}