.semicircle {
    position: relative;
    background: #2c3e50;
    height: 80vh;
}

.semicircle::before {
    position: absolute;
    content: '';
    left: 65%;
    z-index: -1;
    width: 80%;
    height: 100px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(14%);
    bottom: -20px;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: -1;
    transform: skewY(3deg);
    transform-origin: top right;
}

.spikes {
    position: relative;
    background: #2c3e50;

}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 10px;
    background-size: 10px 100%;
    background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%), linear-gradient(225deg, #2c3e50 25%, transparent 25%);
    background-position: 0 0;
}

.wave-container {

    position: relative;
}

.wave-container::before {
    content: "";
    width: 100%;
    height: 84px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 30vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 2 32.2291 3 51.5 5C104.5 11 200 25 300 39C400 53 500 66 600 61C700 55 800 31 900 18C987.526 3 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V1.98128Z' fill='%232c3e50'/></svg>");
}

@media(width < 850px) {
    .wave-container::before {
        height: 42px
    }
}

@media(width < 768px) {
    .skewed {
        height: 113%;
    }
}

@media(width < 528px) {
    .skewed {
        height: 100%
    }
}