:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

html {
    font-family: system-ui, sans-serif;
    background-color: #e8e8e8;
    min-width: 350px;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

.links {
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 2px;
}

.links:hover {
    border: 1px solid white;
}

.links:hover~.links {
    border: 1px solid transparent;
}

.toggle {
    position: relative;
    width: 32px;
    height: 40px;

    justify-content: center;
    align-items: center;
    z-index: 100000;
    cursor: pointer;
}

.toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 black;
    transition: 0.25s;
}

.toggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(10px);
    transition: 0.25s;
}

.toggle.active {
    position: fixed;
    right: 40px;
}

.toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

.buble {
    top: 0;
    animation: move ease 10s infinite both;
}

@keyframes move {
    50% {
        background-color: #d6d3d1;
        transform: translateY(-150px);
    }

    100% {
        background-color: #e8e8e8;
    }
}