<div
  class="mt-4 px-10 m-auto text-center h-full lg:text-end xl:max-w-[90rem]"
  id="About"
>
  <h1
    class="text-4xl sm:text-5xl xl:text-7xl uppercase italic font-bold text-gray-800 mb-4 lg:mr-44"
  >
    Un poco más sobre <br />
    nosotros
  </h1>
  <section
    class="flex flex-col gap-5 py-10 text-start items-center lg:flex-row first__section"
  >
    <p class="text-xl leading-8 text-gray-600 text-pretty">
      La empresa, establecida en 2022, ofrece soluciones digitales para resolver
      problemas cotidianos.<br />
      <br /> Su enfoque es potenciar individuos y negocios mediante tecnologías avanzadas
      para mejorar servicios, ampliar la base de clientes y optimizar procesos, reconociendo
      así la importancia de la tecnología en la sociedad moderna.
    </p>
    <img
      src="https://rocfar.com/assets/manoColaborativa-5e0c1f9c.jpg"
      alt="first image"
      class="h-full w-full rounded-sm min-w-[300px] shadow-xl"
    />
  </section>
  <section
    class="flex flex-col-reverse gap-5 py-10 text-start items-center lg:flex-row second__section"
  >
    <img
      src="https://rocfar.com/assets/proyectIdea-7895f398.jpg"
      alt="first image"
      class="h-full w-full object-cover min-w-[300px] shadow-xl"
    />
    <p class="text-xl leading-8 text-gray-600 text-center">
      En ultima instancia desde <strong>rocFar</strong> se trabaja en proyectos propios,
      los cuales nacen a partir de la vision de impulsar la vida de las personas,
      al logro de objetivos, establecimiento de metas y cumplimiento de propositos.
    </p>
  </section>
</div>
