---
import Form from "./Form.astro";

console.log("asdasdasd");
---

<section id="Contact" class="px-10 xl:max-w-[90rem] m-auto">
  <h1
    class="text-4xl sm:text-5xl xl:text-7xl font-mono uppercase italic font-bold text-gray-300 mb-4"
  >
    ¿Quieres realizar un proyecto <br /> con nosotros?
  </h1>
  <p class="mt-6 text-2xl sm:text-3xl leading-8 text-gray-400">
    Estamos aquí para convertirla en realidad.
  </p>
  <div class="w-full max-w-[850px] rounded-lg p-6 m-auto mr-0 pb-10">
    <Form />
    <p class="text-xs text-slate-400 uppercase text-center mt-7">
      Si consideras que podemos ayudarte, no dudes en contactarnos sin
      compromiso
    </p>

    <button
      class="flex gap-2 m-auto w-fit mt-7 p-2 px-8 rounded-3xl border border-white text-white hover:text-black transition ease-in-out transition-duration-300 hover:bg-[rgb(37,211,102)] hover:border-[rgb(37,211,102)]"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
          d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
        ></path></svg
      >Whatsapp</button
    >
  </div>
</section>
