---
import Icons from "../helper/icons.astro";
---

<footer class="pt-1 bg-indigo-600">
  <section class="gap-12 px-5 relative grid grid-cols-2 pt-3 md:grid-cols-4">
    <section>
      <h2 class="font-semibold text-2xl mb-2 text-gray-300 text-center">
        Menu
      </h2>
      <ul class="text-gray-300 text-center lg:flex lg:flex-col">
        <li class="inline-block md:block">
          <a href="facebook">Inicio</a>
        </li>
        <li class="inline-block md:block">
          <a href="facebook">Servicios</a>
        </li>
        <li class="inline-block md:block">
          <a href="facebook">Proyectos</a>
        </li>
        <li class="inline-block md:block">
          <a href="facebook">Sobre nosotros</a>
        </li>
        <li class="inline-block md:block">
          <a href="facebook">Contacto</a>
        </li>
      </ul>
    </section>

    <section>
      <h2 class="font-semibold text-2xl mb-2 text-gray-300 text-center">
        Redes
      </h2>
      <ul class="text-gray-300 text-center lg:flex lg:flex-col">
        <li class="inline-block md:block">
          <a href="facebook">Facebook</a>
        </li>

        <li class="inline-block md:block">
          <a href="facebook">Instagram</a>
        </li>

        <li class="inline-block md:block">
          <a href="facebook">Linkedin</a>
        </li>

        <li class="inline-block md:block">
          <a href="facebook">Whatsapp</a>
        </li>
      </ul>
    </section>
    <section class="max-w-[300px]">
      <h2 class="font-semibold text-2xl mb-4 text-gray-300 text-center">
        Tecnologías
      </h2>
      <ul class="text-gray-300 flex flex-wrap gap-2">
        <Icons />
      </ul>
    </section>
    <section>
      <h2 class="font-semibold text-2xl mb-4 text-gray-300 text-center">
        Contacto
      </h2>
      <ul class="text-gray-300 text-center">
        <li>Santa Fe - Argentina</li>
        <li>contacto@rocfar.com</li>
        <li>Tel +543405405315</li>
      </ul>
    </section>
  </section>
  <section>
    <span class="font-semibold block text-center pt-1 text-white"
      >Derechos de autor © - 2023</span
    >
  </section>
</footer>
