<form class="flex flex-col mt-10 text-gray-300">
  <section class="flex gap-8">
    <label for="" class="w-full flex flex-col mb-10 text-start text-sm">
      Nombre
      <input
        type="text"
        class="peer h-10 w-full border-b-2 border-gray-500 bg-transparent placeholder-transparent focus:outline-none focus:border-purple-500"
      />
    </label>
    <label for="" class="w-full flex flex-col mb-10 text-start text-sm">
      Email
      <input
        type="text"
        class="peer h-10 w-full border-b-2 border-gray-500 bg-transparent placeholder-transparent focus:outline-none focus:border-purple-500"
      />
    </label>
  </section>
  <label for="" class="flex flex-col mb-10 text-start text-sm">
    Asunto
    <input
      type="text"
      class="peer h-10 w-full border-b-2 border-gray-500 bg-transparent placeholder-transparent focus:outline-none focus:border-purple-500"
    />
  </label>
  <label for="" class="flex flex-col mb-10 text-start text-sm">
    Mensaje
    <textarea
      class="peer h-7 mt-2 w-full border-b-2 border-gray-500 bg-transparent focus:outline-none focus:border-purple-500 resize-y max-h-[150px]"
      placeholder="Cuentanos más sobre tu proyecto..."></textarea>
  </label>
  <button
    type="submit"
    class="flex gap-2 m-auto w-fit p-2 px-8 rounded-3xl border border-white transition ease-in-out transition-duration-300 hover:bg-[rgb(79_70_229)] hover:text-white hover:border-[rgb(79_70_229)]"
    >Submit <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-send"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M10 14l11 -11"></path><path
        d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
      ></path></svg
    ></button
  >
</form>
