---
import Nav from "./Nav.astro";
import Logo from "../assets/icons/ROCFAR_1.svg";
---

<header
  class="flex items-center justify-between p-2 max-w-[100rem] m-auto z-20"
  id="home"
>
  <picture>
    <img src={Logo.src} alt="imagen" class="z-20 w-52 h-ful text-white" />
  </picture>

  <div class="toggle flex lg:hidden"></div>
  <Nav />
</header>

<script>
  const ButtonToggle = document.querySelector(".toggle");
  const navBar = document.querySelector(".navigation");
  ButtonToggle.addEventListener("click", () => {
    ButtonToggle.classList.toggle("active");
    navBar.classList.toggle("active");
  });
</script>
