<nav class="hidden gap-4 navigation lg:flex">
  <a href="#home" class="font-semibold p-5 py-1 uppercase links">Inicio</a>
  <a href="#services" class="font-semibold p-3 py-1 uppercase links"
    >Servicios</a
  >
  <a href="#projects" class="font-semibold p-3 py-1 uppercase links"
    >Proyectos</a
  >
  <a href="#About" class="font-semibold p-3 py-1 uppercase links"
    >Sobre nosotros</a
  >
  <a href="#Contact" class="font-semibold p-3 py-1 uppercase links">Contacto</a>
</nav>
