---
import portada from "../assets/icons/Portada.svg";
---

<div
  class="px-4 sm:px-10 xl:max-w-[90rem] m-auto md:min-h-[80vh] relative pt-10 xl:pl-20"
>
  <h1
    class="text-4xl sm:text-5xl md:text-7xl xl:text-9xl xl:w-2/3 uppercase italic font-bold text-gray-300 mb-4 z-20"
  >
    Materializando conceptos
  </h1>
  <p
    class="md:w-5/12 mt-6 text-xl md:text-2xl lg:text-[1.7rem] leading-8 text-gray-500 z-20"
  >
    Transformamos ideas en soluciones tangibles. Descubre cómo nuestra
    innovación y experiencia se combinan para dar vida a tus proyectos más
    ambiciosos.
  </p>
  <a
    href="#projects"
    class="inline-flex px-8 py-4 xl:px-10 xl:py-5 bg-black text-white xl:text-2xl mt-6 md:mt-16 rounded-2xl md:relative hover:bg-white hover:text-black transition-all duration-300"
    >Trabajos <svg
      class="xl:w-6 xl:h-10 ml-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 12H5m14 0-4 4m4-4-4-4"></path>
    </svg>
  </a>
  <img
    src={portada.src}
    alt=""
    class="md:absolute -mt-6 sm:-mt-20 relative md:top-32 md:-mt-0 min-w-[250px] md:min-w-[550px] md:w-2/4 xl:w-6/12 right-0 bottom-0"
  />
</div>
