---
import image from "../helper/pieza2.jpg";
---

<section class="w-fit m-auto text-center min-h-[100vh]" id="projects">
  <p
    class="text-4xl sm:text-5xl xl:text-7xl uppercase italic font-bold text-gray-300 mb-10"
  >
    Nuestro trabajo
  </p>
  <main
    class="px-10 xl:max-w-[90rem] grid grid-cols-2 gap-10 lg:grid-cols-3 lg:grid-rows-2 text-start"
  >
    <article class="project__article">
      <section>
        <a href="">
          <img src={image.src} alt="asdasd" />
        </a>
      </section>

      <section>
        <p class="pl-3 opacity-80 mt-3 text-gray-300">Portales para ONG</p>
        <h3 class="pl-3 font-bold text-xl uppercase text-gray-300">Titulo</h3>

        <div class="pl-3 mt-2">
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
        </div>
      </section>
    </article>
    <article class="project__article">
      <section>
        <a href="">
          <img src={image.src} alt="asdasd" />
        </a>
      </section>

      <section>
        <p class="pl-3 opacity-80 mt-3 text-gray-300">Portales para ONG</p>
        <h3 class="pl-3 font-bold text-xl uppercase text-gray-300">Titulo</h3>

        <div class="pl-3 mt-2">
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
        </div>
      </section>
    </article>
    <article class="project__article">
      <section>
        <a href="">
          <img src={image.src} alt="asdasd" />
        </a>
      </section>

      <section>
        <p class="pl-3 opacity-80 mt-3 text-gray-300">Portales para ONG</p>
        <h3 class="pl-3 font-bold text-xl uppercase text-gray-300">Titulo</h3>

        <div class="pl-3 mt-2">
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
        </div>
      </section>
    </article>
    <article class="project__article">
      <section>
        <a href="">
          <img src={image.src} alt="asdasd" />
        </a>
      </section>

      <section>
        <p class="pl-3 opacity-80 mt-3 text-gray-300">Portales para ONG</p>
        <h3 class="pl-3 font-bold text-xl uppercase text-gray-300">Titulo</h3>

        <div class="pl-3 mt-2">
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
        </div>
      </section>
    </article>
    <article class="project__article">
      <section>
        <a href="">
          <img src={image.src} alt="asdasd" />
        </a>
      </section>

      <section>
        <p class="pl-3 opacity-80 mt-3 text-gray-300">Portales para ONG</p>
        <h3 class="pl-3 font-bold text-xl uppercase text-gray-300">Titulo</h3>

        <div class="pl-3 mt-2">
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
        </div>
      </section>
    </article>
    <article class="project__article">
      <section>
        <a href="">
          <img src={image.src} alt="asdasd" />
        </a>
      </section>

      <section>
        <p class="pl-3 opacity-80 mt-3 text-gray-300">Portales para ONG</p>
        <h3 class="pl-3 font-bold text-xl uppercase text-gray-300">Titulo</h3>

        <div class="pl-3 mt-2">
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
          <span
            class="mr-2 p-2 py-[3px] bg-orange-600 rounded-2xl text-white font-semibold text-sm"
            >React</span
          >
        </div>
      </section>
    </article>
  </main>
</section>
