<main class="py-24 sm:py-18 lg:mt-4" id="services">
  <div class="mx-auto xl:max-w-[90rem] px-6 lg:px-8">
    <section class="mx-auto max-w-2xl lg:text-center">
      <p
        class="text-4xl sm:text-5xl xl:text-7xl uppercase italic font-bold text-gray-800 mb-4"
      >
        Todo lo que necesitas para tu web
      </p>
      <p class="mt-6 text-lg sm:text-xl leading-8 text-gray-600">
        Como prestador de servicios digitales, nuestro objetivo es ayudar al
        emprendedor a mejorar su presencia digital y alcanzar sus objetivos en
        línea. Esto puede incluir diseños web, marketing digital, publicidad en
        redes sociales, optimización de motores de búsqueda (SEO), gestión de
        reputación en línea y mucho más.
      </p>
    </section>
    <section class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-7xl">
      <dl
        class="grid max-w-2xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16 service">
          <dt class="text-lg font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
                ></path>
              </svg>
            </div>
            Web adaptable a todos los dispositivos
          </dt>
          <dd class="mt-2 text-lg leading-7 text-gray-600">
            Garantizamos diseños web adaptable para una experiencia óptima en
            todos los dispositivos. Creamos sitios intuitivos y atractivos para
            maximizar la visibilidad y la interacción.
          </dd>
        </div>
        <div class="relative pl-16 service__two">
          <dt class="text-lg font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                ></path>
              </svg>
            </div>
            Email Profesional (@tuDominio)
          </dt>
          <dd class="mt-2 text-lg leading-7 text-gray-600">
            Realizamos correos electrónicos profesionales con tu propio dominio,
            como '@tudominio.com', para una imagen sólida y gestionamos la
            configuración y soporte técnico para una comunicación eficiente.
          </dd>
        </div>
        <div class="relative pl-16 service">
          <dt class="text-lg font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                ></path>
              </svg>
            </div>
            Aplicaciones Web
          </dt>
          <dd class="mt-2 text-lg leading-7 text-gray-600">
            Desarrollamos aplicaciones web personalizadas para optimizar la
            eficiencia de tu negocio y mejorar la experiencia del cliente,
            ampliando tu presencia en línea.
          </dd>
        </div>
        <div class="relative pl-16 service__two">
          <dt class="text-lg font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                ></path>
              </svg>
            </div>
            Soporte y mantenimiento
          </dt>
          <dd class="mt-2 text-lg leading-7 text-gray-600">
            Ofrecemos soporte y mantenimiento total para tu página web,
            asegurando su funcionamiento sin problemas para que puedas
            concentrarte en tu negocio.
          </dd>
        </div>
      </dl>
    </section>
  </div>
</main>
