---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Portada from "../components/Portada.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services.astro";

import "../assets/css/layout.css";
import "../assets/css/dividers.css";
import "../assets/css/animations.css";
import "@fontsource/poppins";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="w-full bg-[#4F46E5] block text-white z-10">
      <Header />
    </div>

    <section class="w-full block min-w-[350px]">
      <div class="skewed"></div>
      <Portada />
    </section>

    <section class="wave-container xl:pb-10">
      <Services />
    </section>
    <div class="w-full h-[100vh] relative pt-10 bg-[#2c3e50]">
      <Projects />
    </div>
    <div class="w-full h-full relative bg-[#e8e8e8] wave-container pb-20">
      <About />
    </div>
    <div class="w-full pt-10 relative bg-[#2c3e50] spikes">
      <Contact />
    </div>

    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-style: "Poppins", sans-serif;
  }
</style>
